a {
  color: white;
}

.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

.Select-control {
    background-color: rgb(25, 25, 25) !important;
    color:white;
    margin-bottom: 10px;
}
  
.Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}

.Select-value-label {
    color: white !important;
}

.Select--multi .Select-value {
    color: white; /* Text color of selected chips */
    border-color: white; /* Border color of selected chips */
}
